.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.title {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  color: var(--primary-color);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.subtitle {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: var(--optional-text-color);
}

.close {
  cursor: pointer;
}

.close svg path {
  transition: stroke .3s ease;
}

.close:hover svg path,
.close:active svg path,
.close:focus svg path {
  stroke: var(--item-hover-background);
}
