.viewer-gender-chart {
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  border-radius: 20px;
  width: 55%;
  height: 188px;
  background-color: var(--color-panel-background);
}

.viewer-gender-chart__title {
  margin: 0 0 24px 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
}