.container {
  position: absolute;
  top: 84px;
  left: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 16px;
  width: 352px;
  background-color: var(--panel-background);
  z-index: var(--zindex-fixed);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 10px;
  width: 100%;
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  color: var(--primary-color);
  background-color: transparent;
  transition: all .3s ease;
}

.button__active {
  color: var(--header-background);
  background-color: var(--primary-color);
}

.button:hover,
.button:active,
.button:focus {
  color: var(--header-background);
  background-color: var(--primary-color);
}

.button__left {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.button__right {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
