.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  overflow: scroll;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.description {
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  color: var(--primary-color);
}

.input {
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  width: 150px;
  color: var(--primary-color);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 10px;
  margin: auto 0 0 0;
  border-radius: 12px;
  border: 1px solid transparent;
  width: 100%;
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  color: var(--panel-background);
  background-color: var(--primary-color);
  transition: all .3s ease;
  cursor: pointer;
}

.button:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;
}

.button:active {
  border: 1px solid transparent;
  color: var(--panel-background);
  background-color: var(--primary-color);
}
