.leaflet {
  display: block;
  width: 100%;
  height: 100vh;
}

@media (prefers-color-scheme: dark) {
  .leaflet__tiles {
    filter: var(--leaflet-tiles-filter, none);
  }
}

.leaflet-bottom.leaflet-right {
  display: none;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  border: none;
}

.leaflet-top.leaflet-left {
  top: 50%;
  right: 16px;
  left: auto;
}

.leaflet-touch .leaflet-bar a {
  border: none;
  width: 40px;
  height: 40px;
  line-height: 35px;
  background-color: var(--panel-background);
  transition: background-color .3s ease;
}

.leaflet-touch .leaflet-bar a:hover,
.leaflet-touch .leaflet-bar a:active,
.leaflet-touch .leaflet-bar a:focus {
  background-color: var(--item-hover-background);
}

.leaflet-touch .leaflet-bar a:first-child,
.leaflet-touch .leaflet-bar a:last-child {
  border-radius: 50%;
}

.leaflet-touch .leaflet-bar a span {
  color: var(--primary-color);
}

.leaflet-popup-content-wrapper {
  background-color: var(--panel-background);
}

.leaflet-popup-tip {
  background-color: var(--panel-background);
}

.leaflet-popup-content {
  color: var(--primary-color);
}

.leaflet-popup-close-button span {
  color: var(--primary-color);
  transition: color .3s ease;
}

.leaflet-popup-close-button span:hover {
  color: var(--optional-text-color);
}
